<div class="w-75 mx-auto">
    <div class="w-100 d-flex mt-5 mb-4 flex-row-reverse justify-content-start mx-auto">
        <button class="btn btn-warning w-186px" data-bs-toggle="modal" data-bs-target="#listadoMonedas">AGREGAR MONEDA</button>
    </div>
    <table class="table">
        <thead class="bg-light">
            <tr>
                <th>#</th>
                <th>Símbolo</th>
                <th>Nombre</th>
                <th>Tasa de Cambio</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td><a><i class="bi bi-pencil-square"></i></a></td>
                <td><a><i class="bi bi-trash3-fill"></i></a></td>
            </tr>
        </tbody>

    </table>
</div>

<div class="modal fade" id="listadoMonedas" tabindex="-1" aria-labelledby="listadoMonedasLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Listado de Monedas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Guardar</button>
        <button type="button" class="btn ">Cancelar</button>
      </div>
    </div>
  </div>
</div>
