<div class="w-50 mx-auto mt-6 h-507 border border-dark">
    <div class="border-bottom border-secondary mt-5 w-75 mx-auto">
        <h1 class="font-weight-bold font-size-lg">Sign In</h1>
    </div>
    <form class="col mt-6" [formGroup]="login" (ngSubmit)="navigateTo(login.value)"  >
        <div class="row w-50 mx-auto my-6 h-74px"><input type="text" formControlName="username"   placeholder="user name" class="border-input-bottom border-dark outline-0"/></div>
        <div class="row w-50 mx-auto my-6 h-74px"><input type="password" formControlName="pass"  placeholder="Password" class="border-input-bottom border-dark otuline-0 focus-none"/></div>
        <div class="row w-50 mx-auto my-6"><button  type="submit" class="btn btn-warning otuline-0 w-98px mx-auto">SIGN IN</button></div>
    </form>
</div>