.font-weight-bold{
    font-weight: 700;
}
.font-size-lg{
    font-size: 1.25rem;
}
.mt-6{
    margin-top: 4rem;
}
.my-6{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.h-507{
    height: 507px;
}
.outline-0{
    outline:none;
}
.w-98px{
    width: 98px;
    border-radius: 60px;
}
.border-input-bottom{
    border-top: none;
    border-left: none;
    border-right: none;
}
.h-74px{
    height: 74px;
}
.focus-none:focus{
    outline: none;
}