<div class="modal fade" id="listadoMonedas" tabindex="-1" aria-labelledby="listadoMonedasLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Listado de Monedas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select>
            <option *ngFor = "" value="">Hola</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Guardar</button>
        <button type="button" class="btn ">Cancelar</button>
      </div>
    </div>
  </div>
</div>
